section {
    width: 80%;
    margin: auto;
    height: auto;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transform {
    transform: rotate(90deg);
    margin-top: 30px;
}

@media only screen and (max-width:768px) {
    .transform {
        display: none;
    }
    .name {
        display: block;
    }
}

.button {
    padding: 10px 25px;
    background-color: black;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 50px;
}